<div class="jumbotron">
  <h2 class="text-center">Practice Space for MongoDB, Express.js, Angular, Node.js</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <blockquote>
        <div class="title-header">
          MongoDB
        </div>
        <p>MongoDB is a backend as a service that provides an HTTP API to MongoDB, integration with other services,
          and a declarative rules infrastructure which spans database and service actions. For more information</p>
      </blockquote>
    </div>
    <div class="col-lg-6">
      <blockquote>
        <div class="title-header">
          Express
        </div>
        <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source
          software under the MIT License. It is designed for building web applications and APIs. It is the de facto
          standard server framework for Node.js.</p>

      </blockquote>
    </div>
    <div class="col-lg-6">
      <blockquote>
        <div class="title-header">
          Angular
        </div>
        <p>Angular is a toolset for building the framework most suited to your application development. It is fully
          extensible and works well with other libraries. Every feature can be modified or replaced to suit your
          unique development workflow and feature needs. Read on to find out how.</p>

      </blockquote>
    </div>
    <div class="col-lg-6">
      <blockquote>
        <div class="title-header">
          Node.js
        </div>
        <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven,
          non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the
          largest ecosystem of open source libraries in the world.</p>
      </blockquote>
    </div>
  </div>
</div>
